<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		 <setting name="defaultStatementTimeout" value="1"/>
	</settings>
	<typeAliases>
		<typeAlias type="chatRoom.model.ClientContents" alias="ClientContents" />
	</typeAliases>
	<environments default="test">
		<environment id="test">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/test" />
				<property name="username" value="root" />
				<property name="password" value="tiger" />
			</dataSource>
		</environment>
	</environments>
</configuration>